body {
  margin: 0;
}

.glass-panel {
  background: rgba(39, 54, 71, 0.4);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.level-meter-active {
  background: linear-gradient(to top, #ffdb3c, #ffe16d);
  box-shadow: 0 0 10px rgba(255, 219, 60, 0.5);
}

.level-meter-inactive {
  background: #273647;
}
